#hi {
	font-size: 30px;
}
h1 {
	color: white;
	background-color: lightskyblue;
	margin-bottom: 25px;
	text-align: center;
}
#x {
	font-size: 15px;
}
a:link, a:visited{
	color: dodgerblue;
}
a:hover, a:active {
	font-style: italic;
}
h2 span {
	color:  white;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	background-color: darkblue; 
	height: 25px;
	width:  100px;
}
h2 span:hover, h2 span:active{
	color: deeppink;
}