#hi {
	font-size: 30px;
}
body{
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	background-color: blue;
	margin-bottom: 25px;
	text-align: center;
}
#x {
	font-size: 15px;
}
a:link, a:visited{
	color: white;
}
a:hover, a:active {
	color: deeppink;
	font-style: italic;
}
h2 span {
	color:  white;
	text-align: center;
	margin-left: 50px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: darkblue;

}
h2 span:hover, h2 span:active{
	color: deeppink;
}
img{
	margin-left: 10px;
}